

#container {
    background: rgba(255, 255, 255, 0.575);
    height: 70vh;
    width: 100vw;
    display: flex;
}

#searchform {
    background: rgba(255, 255, 255, 0.438);
}

#background {
    background-color: rgba(255, 255, 255, 0.301);
    background-image: url(image-path("Landing.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 80vw;
}

#city_ {
    font-size: x-large;
    color: gray;
    border-radius: 5px;
}

.header {
    position: relative;
}