<header>
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">HobbyBuddies</h1>
        <p class="lead mb-0">Because Hobbies are better with buddies</p>
        <%= form_tag(listings_path, method: :get) do %>
          <%= text_field_tag(:search, params[:search], placeholder: 'Search by hobby...') %>
          <%= collection_select(:city, params[:id], City.all, :id, :name, prompt: "Location...") %>
          <%= submit_tag ("Search"), class: "btn btn-outline-secondary" %>
          <% end %>
      </div>
    </div>
  </div>
</header>






