<div class="container">
    <div class="text-center">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Editing Profile</h1>
                    <%= render 'form', profile: @profile %>

                    <%= link_to 'Show', @profile %> |
                    <%= link_to 'Back', profiles_path %>
            </div>
        </div>
    </div>
</div>