<div class="container d-flex justify-content-center mb-4">
    <div class="">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h1 class="card-title text-center">Editing Profile</h1>
                    <%= render 'form', profile: @profile %>
                    <div class="form-group actions">
                        <%= link_to 'Show', @profile, class:"btn btn-info" %> 
                        <%= link_to 'Back', profiles_path, class:"btn btn-info" %>
                    </div>
            </div>
        </div>
    </div>
</div>


