<div class="container d-flex justify-content-center mb-4">
<div class="">
    <p><%= flash[:notice] %></p>
    <p class="text-center">We need a little bit more information to help you join the fun.</p>
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h1 class="card-title text-center">New Profile</h1>
                <%= render 'form', profile: @profile %>
        </div>
    </div> 
    </div>
</div>


