<div class="container d-flex justify-content-center mb-4">
    <div class="">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
            <h1 class="card-title text-center">New Listing</h1>
                <%= render 'form', listing: @listing %>
                <div class="form-group actions">
                    <%= link_to 'Back', listings_path, class:"btn btn-info" %>
                </div>
            </div>
        </div>
    </div> 
</div>

